<header>

  <%= link_to root_path do %>
    <h1> This is my website </h1>
  <% end %>


  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>


      <!-- <div class="dropdown">
        <li class="">Category</li>
        <div class="dropdown-content">

          <%= form_tag(products_path, :method => "get", id: "categories-form") do %>
            <%= select_tag(:category_ids, options_from_collection_for_select(Category.all, :id, :name)) %>
            <%= submit_tag 'Submit', name: nil %>
          <% end %>

        </div>
      </div> -->



      <li><%= link_to "New Items", displayNew_path %></li>
      <li><%= link_to "Recently Updated Items", displayRecentlyUpdated_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>




    <div id="productSearch">


      <%= form_tag(products_path, :method => "get", id: "search-form", class:"form-inline") do %>
        <%= select_tag(:category_id, content_tag(:option, 'All Products', :value=>"all") + options_from_collection_for_select(Category.all, :id, :name)) %>
        <%= search_field_tag :search, params[:search], placeholder: "Search anything", size: 25 %>
        <%= submit_tag 'Search', productName: nil %>
      <% end %>

    </div>
  </nav>
</header>
