<div class="col-xs-6 col-sm-2 eachProduct">
  <h1>Categories</h1>

        <ul id = "sideCategory">
          <li><%= link_to "CPU", products_path(category_type: 1) %></li><br>
          <li><%= link_to "RAM", products_path(category_type: 2) %></li><br>
          <li><%= link_to "Storage", products_path(category_type: 3) %></li><br>
          <li><%= link_to "GPU", products_path(category_type: 4) %></li><br>
          <li><%= link_to "Case", products_path(category_type: 5) %></li><br>
          <li><%= link_to "Motherboard", products_path(category_type: 6) %></li><br>
        </ul>
  </div>
