<h2>SIGNUP</h2>



<div class="row">
  <div class="col-md-12 ">

    <%= form_tag(signup_path, :method => "get", id: "signup-form") do %>

        <strong><%= label_tag(:username, "Username ") %></strong><br>
        <%= text_field_tag :username, params[:username], placeholder: "Username", size: 20  %><br>

        <strong><%= label_tag(:fullName, "Full Name ") %></strong><br>
        <%= text_field_tag :fullName, params[:fullName], placeholder: "Full Name", size: 20 %><br>

        <strong><%= label_tag(:password, "Password") %></strong><br>
        <%= password_field_tag :password, params[:password], placeholder: "Password", size: 20 %><br>

        <strong><%= label_tag(:address, "Address") %></strong><br>
        <%= text_field_tag :address, params[:address], placeholder: "Address", size: 20 %><br>


        <!-- add PROVINCS here -->
        <strong><%= label_tag(:province, "Province") %></strong><br>
        <%= select_tag(:province_id, content_tag(:option, '', :value=>"") + options_from_collection_for_select(Province.all, :id, :name)) %><br>



        <strong><%= label_tag(:email, "Email") %></strong><br>
        <%= email_field_tag :email, params[:email], placeholder: "Email", size: 20 %><br>

        <strong><%= label_tag(:phone, "Phone") %></strong><br>
        <%= telephone_field_tag :phone, params[:phone], placeholder: "Phone", size: 20 %><br>


<p>
      <%= button_tag 'Register Account', class: "btn btn-default btn-success btn-md" %>
</p>


    <% end %>
  </div>
</div>
