<h1>Products#display</h1>

<h2><%= @product.productName %></h2>
<h3><%= @product.mfr %></h3>

<p>Description : <%= @product.productInfo %></p>
<p>$<%= @product.price %></p>



<p>Available: <%= @product.quantity %> </p>
