
<h1>Products</h1>
<p> <%= paginate @products %> </p>

<% if @products.present? %>
  <% @products.each do |x| %>
    <div id = "products">
      <h3><%= x.productName %></h3>
      <p><%= x.mfr %></p>

      <% if x.image.present?  %>
        <p><%= image_tag x.image.url %></p>
      <% end %>


      <p>Description: <%= x.productInfo %></p>
      <p>$<%= x.price %></p>
      <p>Quantity: <%= x.quantity %></p>

      <p><%= link_to 'Show details', displayProduct_path(number: x.id) %></p>
      <br />
    </div>
  <% end %>

<% else %>

  <h1> No products found </h1>

<% end %>
