

<h2> ===========================Recently updated=======================</h2>
<p> <%= paginate @productsRecentlyUpdated %> </p>
<% if @productsRecentlyUpdated.present? %>
  <% @productsRecentlyUpdated.each do |x| %>
    <div id = "products">
      <h3><%= x.productName %></h3>
      <p><%= x.mfr %></p>
      <p>Updated at : <%= x.updated_at %></p>

      <% if x.image.present?  %>
        <p><%= image_tag x.image.url %></p>
      <% end %>


      <p>Description: <%= x.productInfo %></p>
      <p>$<%= x.price %></p>
      <p>Quantity: <%= x.quantity %></p>

      <p><%= link_to 'Show details', displayProduct_path(number: x.id) %></p>
      <br />
    </div>
  <% end %>
<% else %>
    <h2> No ecently updated products </h2>
<% end %>

<p><%= link_to 'Go back', products_path %></p>
