<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- this has the nav links in the shared_partials folder -->
    <%= render partial: 'shared_partials/header' %>

    <%= yield %>
    <br/><br/><br/>
    <%= render partial: 'shared_partials/footer' %>
  </body>


</html>
